.FooterInfoSectionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    flex:1;
    height:100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    white-space: nowrap;
}